In [ ]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [ ]:
url = 'https://raw.githubusercontent.com/Somkidf/Python/master/sales.csv'
dframe = pd.read_csv(url)

In [ ]:
dframe

       sold2p   billdate   material prodallo        qty   netvalue      cost
0      530000  26/1/2011  400009497       ZT   29326.38   20513.94   8812.44
1      530000  28/2/2011  400009497       ZT   27927.29   19535.27   8392.02
2      530000   1/2/2011  400009497       ZT   71771.50   50204.50  21567.00
3      530000  16/5/2011  400009497       ZT  270133.38  188959.56  81173.82
4      530000   6/9/2011  400009497       ZT  182099.73  127379.62  54720.12
...       ...        ...        ...      ...        ...        ...       ...
98871  610678  13/6/2011  740004263      ZZZ   29250.00   25182.37   4067.63
98872  610678  13/6/2011  740004264      ZZZ     750.00     645.70    104.30
98873  610678  13/6/2011  740004265      ZZZ    1500.00    1291.41    208.59
98874  610678  13/6/2011  740004266      ZZZ    9000.00    7748.43   1251.57
98875  610678  13/6/2011  740004269      ZZZ     750.00     645.70    104.30

[98876 rows x 7 columns]

In [1]:
print("Hello")

Hello

In [2]:
print("Hi SJI")

Hi SJI